<h1>New Bingo Game</h1>
<%= form_with model: @bingo_game, local: true, data: { turbo: false } do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit "Create Bingo Game" %>
  </div>
<% end %>
<%= link_to "Back", root_path %>